<!DOCTYPE html>
<html ng-app="appname">

  <head>
    <link href="{{STATIC_URL}}/css/bootstrap.min.css" media="screen" rel="stylesheet">
    <link href="style.css" rel="stylesheet"/>
    <script src="{{STATIC_URL}}/js/jquery.min.js"></script>
    <script src="{{STATIC_URL}}/js/bootstrap.min.js"></script>
    <script src="{{STATIC_URL}}/js/angular.min.js"></script>
    <script src="{{STATIC_URL}}/js/script.js"></script>
  </head>
{% verbatim %}
<body>
    <div class="jumbotron">
      <div class="container vertical-center">
        <div ng-controller="appCtrl">
          <p>{{temperature.text}}</p>
        </div>
      <div ng-controller="buttonCtrl">
          <button class="btn btn-primary btn-lg" ng-click="encender()" ng-show="showEncender">Encender</button>
          <button class="btn btn-primary btn-lg" ng-click="apagar()" ng-show="showApagar">Apagar</button>
          <!--<p><a class="btn btn-primary btn-lg" href="../encender" role="button">Encender</a></p>-->
      </div>
      </div>
    </div>
</body>
{% endverbatim %}
</html>